*.log
mutators/weaponlist/packme/STVweaponlist_constants.asc
mutators/weaponlist/packme/STVweaponlist.mut
mutators/weaponlist/packme/weaponlist.zip

generation_scripts/snippets_build.json
.vscode/plus.code-snippets

sprites/cache/*.*

generation_scripts/j2a/Anims-j2a
generation_scripts/j2a/Anims-j2a - Copy

__pycache__

model.joblib
chatbot_model.pkl
data.json
token.txt
*.precious

*.id0
*.id1
*.id2
*.nam
*.til
